@inject Application.Services.Settings.ISettingsService service;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(service.SettingsDictionary.ContainsKey("Application.Header")? service.SettingsDictionary["Application.Header"]: service.SettingsDictionary["Application.Name"])</title>
    <link href="~/css/materialize/sass/materialize.css" rel="stylesheet" />
    <link href="~/images/fonts/MaterialIcons/Material-Icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/fonts/fonts.css" />
    <link rel="stylesheet" href="~/css/mainSite.css" />
</head>
<body class="row">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>

    @RenderBody()
    <div id="vueRootComponent">
        <ms-header></ms-header>
        <div class="container">
            <ms-menu></ms-menu>
            <ms-main-wrapper></ms-main-wrapper>
        </div>
        <ms-footer></ms-footer>
    </div>
    <script src="~/css/materialize/js/materialize.js"></script>
    <script src="~/bundle/App.js"></script>
    <script src="~/scripts/onReadyState.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
