@model IEnumerable<MainSite.Areas.Admin.Models.Counters.DailyCounter>
<div class="card card-panel col s12 m4 l3">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            Статистика по дням
        </span>
        <ul>
            @foreach (var item in Model)
            {

                <li class="col xl6">@item.date.ToShortDateString()</li>
                <li class="col center xl4 s2">@item.Count</li>
                <li class="col xl2 s1">
                    @if (item.Trend != null)
                    {
                        if (item.Trend.GetValueOrDefault())
                        {
                            <i class="material-icons medium  green-text accent-4 ">arrow_drop_up</i>
                        }
                        else
                        {
                            <i class="material-icons medium  red-text accent-4">arrow_drop_down</i>
                        }
                    }
                    else
                    {
                        <i class="material-icons medium  blue-grey-text darken-4">drag_handle</i>
                    }
                </li>

            }
        </ul>

    </div>
</div>

  