@model IEnumerable<MainSite.Areas.Admin.Models.Counters.DailyCounter>
<style>
    .dailyFlex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
    }

        .dailyFlex i {
            display: flex;
        }
</style>
<div class="card card-panel col s12 m4 l3">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            Статистика по дням
        </span>

        @foreach (var item in Model)
        {
            <ul class="dailyFlex">
                <li>@item.date.ToShortDateString()</li>
                <li>@item.Count</li>
                <li>
                    @if (item.Trend != null)
                    {
                        if (item.Trend.GetValueOrDefault())
                        {
                            <i class="material-icons green-text accent-4 ">arrow_drop_up</i>
                        }
                        else
                        {
                            <i class="material-icons red-text accent-4">arrow_drop_down</i>
                        }
                    }
                    else
                    {
                        <i class="material-icons blue-grey-text darken-4">drag_handle</i>
                    }
                </li>
            </ul>
        }


    </div>
</div>

